* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;
  max-width: 1280px;
  padding: 1rem;

  display: grid;
  grid-template-rows: auto 1fr auto;
}
