# Lancer les services
# docker compose -p NOM_DU_PROJET -f FICHIER_COMPOSE.YML up -d
# docker compose -p oquiz -f docker-compose.yml up -d
# docker compose -p oquiz -f docker-compose.yml --env-file=.env.docker.example up -d

# Eteindre les services
# docker compose -p oquiz down

# Préciser nos différents services (conteneurs)
services:
  # remplace le lancement de la commande "docker run"
  database:
    image: postgres:18
    restart: unless-stopped # redémarre la BDD si elle s'est arrêté (à moins qu'on l'ai stoppée manuellement). Ex : si on redemarre la machine -> redemarre la BDD
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - ${DATABASE_PORT}:5432
    volumes:
      - oquiz-volume:/var/lib/postgresql/18/docker
    networks:
      - oquiz-network

  api:
    build: # On image qu'on a pas encore créé l'image, notre docker compose utilisera cette option pour la créer
      context: ./api # Quel est le contexte pour l'image
      dockerfile: Dockerfile # Quel est le nom du Dockerfile
    restart: unless-stopped
    environment: # Environnement au runtime -> au moment de lancer le conteneur
      - ALLOWED_ORIGIN=${ALLOWED_ORIGIN}
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB} # On note le @database (on pointe vers le service database, qui embarque un serveur postgres qui, dans le conteneur, tourne sur le port 5432)
      - JWT_SECRET=${JWT_SECRET}
    ports:
      - ${API_PORT}:3000
    networks:
      - oquiz-network
    depends_on:
      - database # On s'assure que le service 'database' tourne bien avant de lancer ce service 'api'

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args: # Argument du build -> au moment de la création de l'image (car on fait le build du dist dans l'image)
        - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    restart: unless-stopped
    ports:
      - ${CLIENT_PORT}:80
    networks:
      - oquiz-network
    depends_on:
      - api

  adminer:
    image: adminer:5
    restart: unless-stopped
    ports:
      - ${ADMINER_PORT}:8080
    networks:
      - oquiz-network
    depends_on:
      - database

  proxy:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    depends_on:
      - api
      - client
      - adminer
    networks:
      - oquiz-network

# Si besoin de dossiers persistés à monter dans nos conteneur
volumes:
  oquiz-volume:
  # Dossier sur l'hôte, gérer par Docker, mais hors du conteneur
  # Pour persister nos données de postgres:18 sur le local PLUTOT que dans le conteneur
  # (si le conteneur est supprimé, on ne perdra pas les données)

# Si nos conteneurs ont besoin de communiquer entre eux
networks:
  oquiz-network:
  # Pour faire communiquer notre BDD et notre API
